gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks


# Android build output
android/.kotlin/sessions/
/app/build/

# Exclude all drawable directories and night mode drawables
android/app/src/main/res/drawable-*/
android/app/src/main/res/drawable-night-*/

# Exclude specific values directories for Android 12+
android/app/src/main/res/values-night-v31/
android/app/src/main/res/values-v31/